## Pandas
Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

In [2]:
import pandas as pd
import numpy as np

In [3]:
## Playing with Dataframe
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Column1','Column2','Column3','Column4'])

In [4]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [5]:
df.to_csv('Test.csv')

In [7]:
## Accessing the elements
## 1. loc (focusing on row index) 2. iloc (index location -> focusing on both row index and column index)
df.loc['Row4']

Column1    12
Column2    13
Column3    14
Column4    15
Name: Row4, dtype: int32

In [9]:
type(df.loc['Row4'])

pandas.core.series.Series

In [23]:
## Accessing column element
print(df['Column3'])
type(df['Column3'])

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: Column3, dtype: int32

pandas.core.series.Series

In [24]:
## to access multiple column element
df[['Column1','Column3']]

      Column1  Column3
Row1        0        2
Row2        4        6
Row3        8       10
Row4       12       14
Row5       16       18

#### Data frame
is having atleast one row and atleast one column
#### Data series
can have either one row or one column

In [10]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [11]:
##  take element of first three rows and 2 columns
df.iloc[0:3,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

In [12]:
type(df.iloc[0:3,0:2])

pandas.core.frame.DataFrame

In [15]:
print(df.iloc[0,:])
type(df.iloc[0,:])

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

pandas.core.series.Series

In [16]:
## Convert Dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [17]:
df.iloc[:,1:].values.shape

(5, 3)

In [18]:
## to check null condition
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [19]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [20]:
df.isnull()

      Column1  Column2  Column3  Column4
Row1    False    False    False    False
Row2    False    False    False    False
Row3    False    False    False    False
Row4    False    False    False    False
Row5    False    False    False    False

In [21]:
df['Column1'].value_counts()

Column1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [22]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])